<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Update Profile</title>
    <link rel="stylesheet" href="/static/css/styleprofile.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
    <h1>SIKEMAS</h1> <br><br>
    <p id="subjudul">Sistem Informasi Kepuasan Masyarakat</p>
    <br>

    <div class="container">
        <form class="form" action="{% url 'update_profile' %}" enctype="multipart/form-data" method="post"
            id="registrationForm">
        <div class="row">
            <div class="col-sm-10">
                <h2>Update your profile</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3">

                <div class="text-center">
                    <img src="/static/img/{{ staff.profile }}" class="avatar img-circle img-thumbnail"
                        alt="avatar">
                    <h6>Upload your picture</h6>
                    <input type="file" name="profile" id="profile" class="text-center center-block file-upload">
                </div>
                </hr><br>

            </div>
            <!--/col-3-->
            <div class="col-sm-9">
                <hr>
                {% csrf_token %}
                <div class="form-group">
                    <div class="col-xs-6">
                        <label for="full_name">
                            <h4>Full name</h4>
                        </label>
                        <input required type="text" class="form-control" name="full_name" id="full_name" placeholder="full name"
                            title="enter your full name if any." value="{{ staff.name }}">
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-xs-6">
                        <label for="mobile">
                            <h4>Mobile</h4>
                        </label>
                        <input required type="text" class="form-control" name="mobile" id="mobile"
                            placeholder="enter mobile number"  value="{{ staff.mobile }}" title="enter your mobile number if any.">
                    </div>
                </div>
                <div class="form-group">

                    <div class="col-xs-6">
                        <label for="email">
                            <h4>Email</h4>
                        </label>
                        <input required type="email" class="form-control"  value="{{ staff.email }}" name="email" id="email" placeholder="you@email.com"
                            title="enter your email.">
                    </div>
                </div>
                <div class="form-group">

                    <div class="col-xs-6">
                        <label for="password">
                            <h4>Password</h4>
                        </label>
                        <input type="password" class="form-control" name="password" id="password" placeholder="password"
                            title="enter your password.">
                    </div>
                </div>
                <div class="form-group">

                    <br>
                    <a href="/update_profile/"><button name="update_profile">Update Profile</button></a>
 
                </div>
            </div>
        </div>
    </form>
    </div>
</body>

</html>