*{
    margin: 0;
    padding: 0;
    
}

body{
    background-image: url(bg4.png);
    background-repeat: repeat;
    background-size: cover;
    font-family: 'Righteous', cursive;
    counter-reset: listCounter;
}

.nav{
    margin: auto;
    text-align: center;
    font-family: fantasy;
    width: 100%;
    font-size: 20px;
}
.nav ul{
    background: #7f8c8d;
    list-style: none;
    position: relative;
    display: inline-table;
    width: 100%;
    padding: 0 20px;
}
.nav ul li{
    float: left;
}
.nav ul li:hover{
    background: #35A9DB;
    
}
.nav ul li:hover a{
    color: snow;
}
.nav ul li a{
    display: block;
    padding: 20px;
    color: #bdc3c7;
    text-decoration: none;
}

.tabel{
    text-align: center;
}

.table1 {

    font-family: sans-serif;
    color: #444;
    border-collapse: collapse;
    width: 50%;
    border: 1px solid #f2f5f7;
}

.table1 tr th{
    background: #35A9DB;
    color: #fff;
    font-weight: normal;
}

.table1, th, td {
    padding: 8px 20px;
    text-align: center;
}

.table1 tr:nth-child(even) {
    background-color: #f2f2f2;
}


